# Ignore all node_modules in any folder
**/node_modules/

# Ignore uploads folder (images, etc.)
uploads/

# Environment files
.env
.env.*
frontend/.env
backend/.env

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
